{% extends "base.html" %}

{% block title %}

Smart Placement Preparation Portal

{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center">

        <h1 class="display-3 fw-bold">

            Prepare Smarter.

        </h1>

        <h1 class="display-3 fw-bold">

            Get Placed Faster.

        </h1>

        <p class="lead mt-4">

            AI Powered Placement Preparation Portal

        </p>


        <a href="{{ url_for('main.dashboard') }}" class="btn btn-primary btn-lg mt-3">
            Get Started
        </a>

    </div>

</div>

{% endblock %}