{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="container py-5">

    {% include "dashboard/components/welcome_card.html" %}

    {% include "dashboard/components/stats_cards.html" %}

    {% include "dashboard/components/recent_applications.html" %}
    
    {% include "dashboard/components/progress.html" %}

    {% include "dashboard/components/continue_learning.html" %}

    {% include "dashboard/components/recent_activity.html" %}

    {% include "dashboard/components/quick_actions.html" %}

    {% include "dashboard/components/tasks.html" %}

    {% include "dashboard/components/resume_insights.html" %}

    {% include "dashboard/components/analysis_history.html" %}
</div>

{% endblock %}